body {
  margin: 50px 50px;
}

.button-group {
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  background-color: cyan;
}

#maze {
  //border: 1px solid #000;
  border-collapse: collapse;
  tr {
    height: 5px;
    border: 1px solid #000;
    td {
      width: 3px;
      border: 1px solid #000;
    }
    .start {
      background-color: red;
    }
    .goal {
      background-color: green;
    }
    .wall {
      background-color: black;
    }
    .road {
      background-color: white;
    }
    .correct {
      background-color: blue;
    }
  }
}